<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Thorax HTML Boilerplate</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/application.css">
    <script src="./js/lib/jquery.js"></script>
    <script src="./js/lib/bootstrap.js"></script>
    <script src="./js/lib/underscore.js"></script>
    <script src="./js/lib/handlebars.js"></script>
    <script src="./js/lib/backbone.js"></script>
    <script src="./js/lib/thorax.js"></script>
    <script src="./js/application.js"></script>
  </head>
  <body>
  </body>
</html>
